.overall-table {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 98%;
  height: 500px;
}
.table-container {
  margin-top: 30px;
  overflow: auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  /* padding: 10px; */
  /* background-image: linear-gradient(  #0fd8b6,rgb(85, 243, 177)); 
     */
}

table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

thead {
  background-color: transparent;
  color: #fff;
  top: 0;
  margin-top: 0;
}

th {
  position: sticky;
  background-color: #3081d0;
  border: 1.4px solid rgba(170, 160, 160, 0.877);
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  color: white;
}

td {
  border: 1.4px solid darkgray;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  z-index: 1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

/* Style even rows */
tr:nth-child(even) {
  background-color: #d7dbf9;
  color: black;
}

/* Style odd rows */
tr:nth-child(odd) {
  background-color: rgb(246, 250, 250);
  color: #0c0c0c;
}

/* Pagination styling */
.pagination {
  position: sticky;
  bottom: 0;
  padding: 10px;
  margin-top: 10px;
}

.no-data-found {
  /* font-weight: bold; */
  padding: 20px;
  text-align: left;
  background-color: #3081d0;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;

  font-size: 1.2em;
}

.total-records {
  color: white;
  background-color: #3081d0;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;

  font-size: 1em;
}
@keyframes blink {
  0%, 100% {
    transform: scale(1);
    filter: hue-rotate(0deg); /* Set the hue-rotate value for the color change */
  }
  50% {
    transform: scale(1.2);
    filter: hue-rotate(180deg); /* Adjust the hue-rotate value for the color change */
  }
}

.arrow-icon {
  width: 20px; 
  height: 20px; 
  cursor: pointer;
  animation: blink 1.5s infinite;
  filter: brightness(0) invert(1);
}