/* Header.css */
.header {
    position: fixed;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    /* background-color: #3a26f5;  */
    /* background-image: linear-gradient(rgb(87, 171, 245), #5442fa); */
    background-color: #6DB9EF;
    /* background-image: radial-gradient(circle farthest-corner at 0.2% 0.5%, rgb(122, 92, 212) 3.7%, rgb(51, 218, 240) 92.7%); */
    color: #fff; /* Set text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Adjust padding as needed */
  }

  .header-left{
    display: flex;
    gap: 2px;
    align-items: center;
  }
  
  .header-left img,
  .header-right img {
    max-width: 70px; /* Set the maximum width for your images */
    height: auto; /* Maintain aspect ratio */
    padding: 0 15px;
  }
  