.filter-button-containerss {
  position: relative;
  left: 0;
  margin-top: 90px;
  margin-left: 10px;
  display: inline-block;
}

.filter-button {
  font-size: 18px;
  color: #f0f2f3;
  cursor: pointer;
  transition: color 0.5s ease;
  background-color: #007bff;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;

  transition: 0.4s;
}
.filter-buttons{
  cursor: pointer;
  transition: color 0.5s ease;
  background-color: #007bff;
  border: none;
  font-family: Sofia;
  color: #f0f2f3;
  border-radius: 15px;
  padding: 2px 5px;
  
}

.filter-button:hover {
  color: #9bf7f2;
}
.filter-buttons:hover {
  color: #9bf7f2;
}




.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; 
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2); 
  width: 500px;
  max-width: 80%;
  padding: 20px;
  border-radius: 10px;
  display: none;
}

.popup.show {
  display: block;
}


.popup-content {
  border-radius: 10px; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.close {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  cursor: pointer;
}


.filter-button, .filter-buttons, .filter-buttons-form {
  background-color: #007bff; 
  color: #f0f2f3; 
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover, .filter-buttons:hover, .filter-buttons-form:hover {
  background-color: #0056b3; 
  color: #ffffff; 
}


.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.alert {
  font-size: 14px; 
}

.alert-danger {
  background-color: #f44336; 
  color: white; 
  margin-top: 5px;
  padding: 10px;
  border-radius: 4px; 
}


.row1{
  margin-top: 50px;
}
.row1, h5 {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  font-size: 16px;
}
