.ElementAdding {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Adjust the gap between columns as needed */
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 20px auto; /* Center the form on the page and add margin to create space */
    
  }

 
  
  .ElementAdding > div,
  .ElementAdding > form {
    display: flex;
    flex-direction: column;
    padding: 10px; /* Adjust padding as needed */
  }
  
  .ElementAdding > form {
    margin-left: 20px; /* Adjust the margin to create space between the two sections */
  }
  
  .ElementAdding label {
    margin-bottom: 5px;
  }
  
  .ElementAdding input,
  .ElementAdding select {
    margin-bottom: 15px;
    padding: 8px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    font-family: sofia;
  }
  
  .ElementAdding button {
    padding: 10px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .ElementAdding button:hover {
    background-color: #45a049;
  }
  