.ElementAdding {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    max-width: 1200px; 
    margin: 20px auto; 
    
  }

 
  
  .ElementAdding > div,
  .ElementAdding > form {
    display: flex;
    flex-direction: column;
    padding: 10px; 
  }
  
  .ElementAdding > form {
    margin-left: 20px; 
  }
  
  .ElementAdding label {
    margin-bottom: 5px;
  }
  
  .ElementAdding input,
  .ElementAdding select {
    margin-bottom: 15px;
    padding: 8px; 
    font-size: 16px; 
    font-family: sofia;
  }
  
  .ElementAdding button {
    padding: 10px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .ElementAdding button:hover {
    background-color: #45a049;
  }
  