 
/* .filter-input {
  width: 110px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Sofia";
}

  
  .filter-container-regno{
    background-color: gray;
    border-radius: 20px; 
  }  */



