 
/* .filter-input {
  width: 110px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;

}

  
  .filter-container-regno{
    background-color: gray;
    border-radius: 20px; 
  }  */



